@keyframes gradientSlide {
  0% {
    background-position: 0% 0%, 100% 100%;
  }
  100% {
    background-position: 100% 100%, 0% 0%;
  }
}

.animated-gradient-bg {
  background: 
    radial-gradient(circle at top left,
      rgba(147, 51, 234, 0.03) 0%,
      rgba(113, 60, 232, 0.03) 25%,
      rgba(79, 70, 229, 0.03) 50%,
      rgba(197, 71, 172, 0.03) 75%,
      rgba(236, 72, 153, 0.03) 100%
    ),
    radial-gradient(circle at bottom right,
      rgba(236, 72, 153, 0.02) 0%,
      rgba(197, 71, 172, 0.02) 25%,
      rgba(79, 70, 229, 0.02) 50%,
      rgba(113, 60, 232, 0.02) 75%,
      rgba(147, 51, 234, 0.02) 100%
    );
  background-size: 200% 200%;
  animation: gradientSlide 15s linear infinite;
}
